
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>PC蛋蛋《注册协议》</title>
<style type="text/css">
body{padding:0px;}
.xy_container{
	width:300px;
	font-size:0.8em;
	line-height:1.5;
	margin:0px auto;
	}
</style>
</head>

<body>
<div class="xy_container">
<img src="imgs/img_dan.png" width="286" height="202" />
<h1>注册协议</h1>
<h2>一、 帐号管理规则</h2>

⒈ 必须使用真实身份信息注册帐号，昵称和用户资料等自定义命名均不得使用违反国家法
   规或带侮辱性的词语；
⒉ 所有注册帐号只可用于正常登陆PC蛋蛋、体验广告、进行游戏，不得用于对PC蛋蛋
   进行恶意攻击或破坏；
⒊ 一个用户只能注册和使用一个PC蛋蛋帐号；
⒋ PC蛋蛋官方有权对任何不符合帐号管理规则的帐号进行冻结和处罚。

<h2>二、网站BUG规则</h2>
⒈ PC蛋蛋鼓励蛋友报告网站或者体验广告中出现的问题和bug，一经证实将有机会获得
   官方奖励；
⒉ 所有利用PC蛋蛋网站或者广告商家平台上的漏洞进行非法谋利或恶意攻击的行为被严
   格禁止，一经发现，帐号将被冻结，永不解冻；
⒊ 对于可能导致严重影响网站运营平衡的重大问题，PC蛋蛋官方有权进行修正、撤销或停
   止服务器运行；

<h2>三、严禁非官方辅助工具规则</h2>

⒈ PC蛋蛋禁止使用任何非官方提供的辅助工具，由此带来的任何后果由用户自己负责；
⒉ PC蛋蛋官方保留对使用辅助工具登陆和使用PC蛋蛋产品和服务的帐号的处置权。

<h2>四、体验广告规则</h2>

⒈ 仔细阅读广告页面的体验规则，了解并同意相关规则后再进行体验；
⒉ 体验过程中，如需填写信息，必须按要求填写，不得编造和随意填写；
⒊ 体验过程中，请遵守广告商家以及体验平台的各项规定；
⒋ 文明体验，如在体验过程中遇到问题，请联系PC蛋蛋客服协助解决，严禁以过激方式自行处理；
⒌ 禁止以获取元宝为唯一目的，采取投机取巧或无法给商家带来任何广告效果的形式体验广告。
⒍ 禁止使用非广告商家官方发布的辅助工具登陆和使用广告商家网站平台的产品和服务。
⒎ 根据用户的体验情况和广告商家的实际情况，PC蛋蛋保留在体验广告过程中修正、更改、延长或者提前结束体验的权利。

<h2>五、严禁小号规则</h2>
⒈ 每个用户只允许拥有及使用一个PC蛋蛋帐号，一个用户注册和使用多个帐号是严格禁止的；
⒉ 严禁注册多个小号体验广告的行为；
⒊严禁用户之间恶意串通游戏或者体验广告的行为，这包括两个或两个以上用户之间的串通行为。一旦发现，所有参与串通行为的各方都将被视为小号违规者受到惩罚，串通的判定由PC蛋蛋管理系统根据用户的登录记录、投注记录和行为记录分析获得。
小号判定标准（判例持续更新）
1） 登录记录和行为记录被系统判定为同一人操作的视为小号；
2） 使用他人身份资料注册的帐号视为小号；
3） 代替他人登陆、体验广告、进入游戏的视为小号；
4） 使用代理在多个游戏帐号之间进行转换视为小号；
5） 使用wap登陆多个帐号视为小号；
6） 伪造身份信息的视为小号。

<h2>六、 处罚规则</h2>

⒈ 用户被警告累计2次以上，此后违规一律冻结帐号；
⒉ 有冻结记录的用户，一旦违规，一律冻结帐号；
⒊ 对多次违规、屡禁不止或者采取其他过激行为的用户，将永不解冻。
处罚方式如下：
1） 警告：即对用户进行警告。
2） 禁言：即禁止违规用户发言的权利；
3） 信用度清零：即扣除违规用户的所有信用积分；
4） 元宝扣除：根据用户违规行为的严重程度，违规后的认错态度和配合态度来考量，扣除违规用户帐号上的元宝作为处罚，包含小金库；

5） 元宝清零：清零违规用户帐号上的元宝，包含小金库；
6） 冻结帐号：即冻结违规用户的帐号；
7） 用户对惩罚如有解释或意见，管理员有权根据实际情况决定是否更改处罚并回复结果
<h2>七、服务中断、停止和变更的说明</h2>
发生下列情形之一时，官方有权中断、停止或变更其所提供的服务，对于因此而产生的困扰、不便或损失，官方不承担任何责任：
⒈定期检查或施工，软硬件更新等，即暂停服务，官方将尽快完成维修、维护工作。
⒉服务器遭到任何形式的破坏，无法正常运作。
⒊网络线路或其它导致用户通过Internet连接至服务器的动作发生滞碍等情形。
⒋自然灾害等不可抗力的因素。
⒌在紧急情况之下为维护国家安全或其它会员及第三者人身安全时。
⒍发生突发性软硬件设备与电子通信设备故障时。
⒎受国家重大事件影响，或者互联网行业规则全国性进行调整时。
<h2>八、PC蛋蛋用户规则的解释、更改和添加</h2>
本规则的解释、效力及适用以中华人民共和国法律为依据。如果本协议的任何内容与法律相抵触，应以法律规定为准。此前提下，PC蛋蛋官方保留对此规则的解释、更改和添加的权利。
</div>
</body>
</html>
